<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <title>Repo Seminario 2014</title>
    <link rel="stylesheet" href="css/jquery.mobile-1.4.4.min.css"/>
    <script src="js/jquery-2.1.1.min.js"></script>
    <script src="js/jquery.mobile-1.4.5.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
</head>

<body>
    <div data-role="page" id="pag1">
        <div data-role="header" data-position="fixed" data-add-back-btn="true"
        data-back-btn-text="Atrás">
            <h1>Repo Seminario 2014</h1>
        </div>
       <label for="geolocation">Geolocalizacion</label>
        <input type="checkbox" readonly="readonly" id="geolocation" name="geolocation">

        <label for="webstorage">Webstorage</label>  
        <input type="checkbox"  readonly="readonly" id="webstorage" name="webstorage">
            
        <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
                   <ul>
                    
                    <li><a href="#pag1">1</a></li>
                    <li><a href="#pag2">2</a></li>
                    <li><a href="#pag3">3</a></li>
                    <li><a href="#pag4">4</a></li>
                    
                   </ul>
         </div>
         
         
    </div>
    </div>

    
    
    
    <div data-role="page" id="pag2">
        <div data-role="header" data-position="fixed" data-add-back-btn="true"
        data-back-btn-text="Atrás">
            <h1>Repo Seminario 2014</h1>
        </div>
        <a id="addlocation" data-role="button">Posicion Actual</a>
        <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
                   <ul>
                    
                    <li><a href="#pag1">1</a></li>
                    <li><a href="#pag2">2</a></li>
                    <li><a href="#pag3">3</a></li>
                    <li><a href="#pag4">4</a></li>
                    
                   </ul>
         </div>
         
         
    </div>
    </div>
   
    </div>
    
    
    
    <div data-role="page" id="pag3">
        <div data-role="header" data-position="fixed" data-add-back-btn="true"
        data-back-btn-text="Atrás">
            <h1>Repo Seminario 2014</h1>
        </div>
        <div role="main" class="ui-content">
            
            <ul id="lista" data-role="listview">
            
          
            </ul>   
            <br>
            <a id="savelocation" data-role="button">Guardar</a>
        </div>
        <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
        
                   <ul>
                    
                    <li><a href="#pag1">1</a></li>
                    <li><a href="#pag2">2</a></li>
                    <li><a href="#pag3">3</a></li>
                    <li><a href="#pag4">4</a></li>
                    
                   </ul>
         </div>
         
         
    </div>
    </div>
    </div>
    
    
    
    <div data-role="page" id="pag4">
        <div data-role="header" data-position="fixed" data-add-back-btn="true"
        data-back-btn-text="Atrás">
            <h1>Repo Seminario 2014</h1>
        </div>
        <div role="main" class="ui-content">
          
            <ul id="listamongo" data-role="listview">
            
         
              
            </ul>
           
            </ul>
        </div>
        <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
        
                   <ul>
                    
                    <li><a href="#pag1">1</a></li>
                    <li><a href="#pag2">2</a></li>
                    <li><a href="#pag3">3</a></li>
                    <li><a href="#pag4">4</a></li>
                    
                   </ul>
         </div>
         
         
    </div>
    </div>
    </div>
    <script src="js/main.js"></script>
</body>
</html>